<!-- links -->


<div class="navbar">
    <div class="navbar__container">

        <h1>Exclusive</h1>

        <ul>
            <li><a href="Home" class="active">Home</a></li>
            <li><a href="Home">Contact</a></li>
            <li><a href="Home">About</a></li>
            <li><a href="Home">Sign Up</a></li>
        </ul>

        <div class="rightnav">
            <div class="searchbar">
                <input type="text" placeholder="What are you looking for?">
                <span class="material-symbols-outlined">
                    search
                    </span>

            </div>

            <span class="material-symbols-outlined">
                favorite
                </span>
            <span class="material-symbols-outlined">
                shopping_cart
                </span>
        </div>

    </div>
</div>