<!-- Home -->

<!-- announcement -->
 <div class="promo">
    <h6>Summer Sale For All Swim Suits and Free Express Delivery - OFF 50%! <span>ShopNow</span></h6>
    <select>
      <option value="">English</option>
      <option value="">Filipino</option>

    </select>
 </div>

<!-- navbar -->
<app-navbar></app-navbar>


<!-- featured -->

<div class="featured">
  <div class="container__featured">

    <ul>
      <li>
        <a href="" class="featured__fashion">
          <p>Woman's Fashion </p>
          <span class="material-symbols-outlined" style="font-size: 14px; font-weight: 900;">
          arrow_forward_ios
          </span></a>
        
      </li>
      <li>
        <a href="" class="featured__fashion">
          <p>Men's Fashion</p>
          <span class="material-symbols-outlined" style="font-size: 14px; font-weight: 900;">
            arrow_forward_ios
            </span>
        </a>

      <li><a href="">Electronics</a></li>
      <li><a href="">Home & Lifestyle</a></li>
      <li><a href="">Medicine</a></li>
      <li><a href="">Sports & Outdoor</a></li>
      <li><a href="">Baby's & Toys</a></li>
      <li><a href="">Groceries & Pets</a></li>
      <li><a href="">Health & Beauty</a></li>

    </ul>

    <div class="featured__image">
      <div class="featured__image__container">

        <div class="featured__description">

          <div class="featured__logo">
            <img src="../assets/images/pngwing.com.png" alt="" width="60px">
            <p>Iphone 13 Series</p>
          </div>
            <h1>Up to 10% off Voucher</h1>

            <div class="featured__shop">
              <a href="">Shop Now</a>
              <span class="material-symbols-outlined" style="font-size: 1.5rem;">
                arrow_forward
                </span> 
            </div>
    

        </div>


        <div class="featureimage">
          <img src="../assets/images/pngimg.com - iphone_14_PNG48.png" alt="" >
        </div>
  
      </div>
    </div>

  </div>
</div>




<!-- footer -->
<app-footer></app-footer>